
        footer {
            display: flex ;
            flex-direction : row ;
            justify-content: space-between;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: darkorange;
            padding: 20px;
            text-align: center;
            color: white;
          }
          body{
            background-color: rgb(176, 227, 24);
          }

          .menu{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            align-content: space-around;
            background-color: rgb(218, 145, 9); /*Bleu*/
            width: 100%;
            height: 60px;
            border: 2px solid orange;
            box-sizing: border-box;
            margin: 20px 0px;
        }
        .ligne{
            flex-direction: row; /*Axe principal = axe horizontal*/
        }
        .colonne{
            flex-direction: column; /*Axe principal = axe vertical*/
        }
        a{
            flex: 1 1 50px;
            background-color: rgb(248, 142, 20); /*Vert*/
            width: 40%;
            border: 2px solid yellow;
            box-sizing: border-box;
            margin: 10px;
        }
        .selected{
            background-color: yellowgreen;
        }
        #date{
            position: relative;
            right: 0px;
          }